.account {
  display: flex;
  align-items: start;

  &__menu {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 30%;

    &-item {
      padding: 10px;
      border: 1px solid #e5e5e5;
      background: transparent;
      font-size: 18px;
      transition: all 0.3s;
      white-space: nowrap;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:hover {
        background: #c2995a;
        border: 1px solid #c2995a;
        color: #ffffff;
      }
    }

    .active {
      background: #c2995a;
      border: 1px solid #c2995a;
      color: #ffffff;
    }
  }

  &__info {
    border: 1px solid #cccccc;
    padding: 20px;
    width: 65%;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--area {
        align-items: start;
      }

      &--check {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
      }

      &--sub {
        justify-content: start;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 20px;
      }

      &--top {
        padding-top: 20px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__text {
    font-size: 18px;
    width: 50%;
    &:first-child {
      margin-right: 10px;
    }
  }

  &__photo {
    padding: 10px;
    width: 50%;
    border: 1px dashed #1f1412;
    white-space: nowrap;
  }

  &__input {
    padding: 10px;
    width: 50%;
    border: 1px solid #c7c7c7;
    margin: 0;
    font-size: 18px;

    &-first {
      margin-right: 10px;
    }

    &-btn {
      padding: 13px;
    }

    a:hover {
      transition: all 0.3s;
      color: #c2995a;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    width: 50%;
  }

  &__checkbox {
    margin-right: 10px;
    &-text {
      font-size: 18px;
      margin-right: 10px;
    }
  }

  &__select {
    padding: 13.5px 10px;
    width: 50%;
    border: 1px solid #c7c7c7;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c7c7c7;
  }

  &__option {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1f1412;
  }

  &__not {
    font-weight: 600;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 18px;
    width: 50%;
    &:first-child {
      margin-right: 10px;
    }

    &-active {
      color: #32a071;
    }
  }

  &__month {
    padding: 29px;
    margin-top: 10px;
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }

  &__collegium {
    &-text {
      margin-bottom: 20px;
      font-weight: 600;
    }

    &-item {
      padding: 20px;
      border: 1px solid #c7c7c7;
      transition: all 0.3s;
      margin-bottom: 20px;

      &:hover {
        border: 1px solid #c2995a;
      }
    }

    &-message {
      display: flex;
      margin-bottom: 5px;
    }

    &-span {
      font-weight: 600;
      font-size: 18px;
      margin-left: 5px;
    }

    &-question {
      margin-bottom: 15px;
      font-weight: 600;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    &-date {
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #1f1412;

      a {
        text-decoration: underline;
        color: #c2995a;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &-btn {
      width: 40%;
      margin: 0;
    }

    &-pages {
      margin-top: 50px;
    }
  }

  &__advocacy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;

    &-item {
      padding: 5px;
      border: 1px solid rgba(31, 20, 18, 0.5);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: rgba(31, 20, 18, 0.5);
      transition: all 0.3s;
      width: 100%;
      white-space: nowrap;

      &--active {
        font-weight: 500;
        color: #ffffff;
        background: #c2995a;
        border: 1px solid #c2995a;
      }

      &:hover {
        font-weight: 500;
        color: #ffffff;
        background: #c2995a;
        border: 1px solid #c2995a;
      }
    }
  }

  &__brka {
    &-subtitle {
      font-weight: 600;
      margin-bottom: 10px;
    }

    &-info {
      font-weight: 600;
    }

    &-text {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-left: 20px;

    &-item {
      font-weight: 600;
      list-style: disc;
    }
  }

  &__act {
    &-title {
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #1f1412;
      background: transparent;
      border: 1px solid #cccccc;
      padding: 20px;

      &:after {
        display: block;
        position: absolute;
        content: url(../img/icons/close.svg);
        right: 20px;
        top: 20px;
      }

      &.active {
        background: #c2995a;
        border: 1px solid #c2995a;
      }

      &.active:after {
        display: block;
        right: 20px;
        top: 20px;
        content: url(../img/icons/open.svg);
      }
    }

    &-item {
      margin-bottom: 20px;
    }

    &-box {
      display: none;
    }

    &-info {
      display: grid;
      padding: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      border-width: 0px 1px 1px 1px;
      border-style: solid;
      border-color: #cccccc;

      &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 1px solid #c7c7c7;
        font-weight: 500;
        line-height: 20px;
        transition: all 0.3s;

        &_one {
          grid-area: 7 / 1 / 8 / 3;
        }

        &_two {
          grid-area: 11 / 1 / 12 / 3;
        }

        &_three {
          grid-area: 13 / 1 / 14 / 3;
        }

        &_four {
          grid-area: 14 / 1 / 15 / 3;
        }

        &:hover {
          border: 1px solid #c2995a;
        }
      }
    }
  }
}
