.blog {
  &__card {
    margin: 0 auto 50px auto;
    padding: 20px;
    border: 1px solid #e5e5e5;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-photo {
      margin-bottom: 5px;
      object-fit: cover;
      overflow: hidden;
      width: 100%;
    }

    &-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      white-space: nowrap;
      text-align: center;
      color: #1f1412;
      margin-bottom: 10px;
    }

    &-tel {
      display: flex;
      align-items: center;
    }

    &-icon {
      margin-right: 8px;
    }

    &-phone {
      line-height: 20px;
      transition: all 0.3s;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;

    &-item {
      border: 1px solid #e5e5e5;
      padding: 20px;
      transition: all 0.3s;
      display: flex;

      &:hover {
        border: 1px solid #c2995a;
      }
    }

    &-photo {
      max-height: 200px;
      max-width: 200px;
      object-fit: cover;
      margin-right: 20px;
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #1f1412;
    }

    &-text {
      margin-bottom: 15px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
    }

    &-date {
      font-weight: 300;
      font-size: 12px;
      line-height: 140%;
      color: #1f1412;
      text-align: end;
    }
  }
}
