.consultation {
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  &__text {
    max-width: 520px;
    padding-bottom: 20px;
    a {
      color: #c2995a;
      font-weight: 600;
      text-decoration: underline;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__form {
    padding: 30px;
    width: 45%;
    border: 1px solid rgba(31, 20, 18, 0.5);

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #1f1412;
      padding-bottom: 20px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    &-label {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #1f1412;
      margin-bottom: 8px;
    }

    &-input {
      padding: 15px;
      outline: none;
      border: 1px solid #c7c7c7;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #1f1412;
    }

    &-select {
      padding: 15px;
      outline: none;
      border: 1px solid #c7c7c7;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #c7c7c7;
    }

    &-option {
      color: #1f1412;
    }

    &-btn {
      align-items: center;
      padding: 15px 25px;
      background: #c2995a;
      border: 1px solid #c2995a;
      width: 100%;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      transition: all 0.3s;
      &:hover {
        color: #c2995a;
        background: #ffffff;
      }
    }

    &-personal {
      display: flex;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #c7c7c7;
        margin-left: 10px;
        a {
          color: #c2995a;
          font-weight: 600;
          text-decoration: underline;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  &__answer {
    &-title {
      width: 55%;
    }

    &-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &-item {
      border: 1px solid #e5e5e5;
      width: 48%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      transition: all 0.3s;
      &:hover {
        border: 1px solid #c2995a;
      }
    }

    &-message {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    &-icon {
      margin-right: 5px;
    }

    &-span {
      font-weight: 600;
    }

    &-text {
      font-weight: 600;
      margin-bottom: 15px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;

      &--tel {
        font-weight: 600;
        color: #1f1412;
        transition: all 0.3s;
        &:hover {
          color: #c2995a;
        }
      }
    }

    &-link {
      font-weight: 600;
      text-decoration-line: underline;
      color: #c2995a;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }

    &-date {
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #1f1412;
    }

    &-btn {
      margin: 0 auto;
      display: block;
      padding: 15px 23px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      background: linear-gradient(90.23deg, #c2995a -21.48%, #f8d282 116.04%);
      border: 1px solid #c2995a;
      transition: all 0.3s;
      &:hover {
        color: #c2995a;
        background: #ffffff;
      }
    }
  }
}
