.gratitude {
  &__info {
    display: flex;
    align-items: start;
  }

  &__photo {
    margin-right: 40px;
    object-fit: cover;
    overflow: hidden;
    width: 40%;
  }

  &__description {
    width: 37%;
    margin-bottom: 90px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1f1412;
    padding-bottom: 28px;
  }
  &__ps {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(31, 20, 18, 0.5);
  }

  &__other {
    padding-bottom: 50px;
  }
}
