.page {
  padding-top: 30px;
  // .page__container

  &__container {
  }
}
.main-page {
  //main-page__block

  &__block {
    padding-bottom: 182px;
    padding-left: 70px;
    background: linear-gradient(
        178.23deg,
        rgba(0, 0, 0, 0.2) 1.73%,
        rgba(0, 0, 0, 0) 35.42%
      ),
      linear-gradient(90deg, #1f1412 0%, rgba(31, 20, 18, 0) 77.7%),
      url("../img/home/main.png") center / cover no-repeat;
  }
  // .main-page__title

  &__title {
    padding-top: 148px;
    max-width: 838px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 35px;
    line-height: 140%;
    color: #ffffff;
    padding-bottom: 50px;
  }
}
.main-button {
  display: flex;
  max-width: 307px;
  padding: 25px 35px;
  background: linear-gradient(90.23deg, #c2995a -21.48%, #f8d282 116.04%);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: background ease 2.5s;
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(90.23deg, #b38a4c -21.48%, #ffd680 116.04%);
    }
  }
}

//========================================================================================================================================================
.news {
  padding-top: 80px;

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    padding-bottom: 18px;
  }

  &__body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
  }

  &-content {
    &__title {
      display: flex;
      justify-content: flex-end;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-decoration-line: underline;
      color: #c2995a;
      padding-bottom: 20px;
      transition: all 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }

    &__cards {
      display: grid;
      gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    }
  }

  &-card {
    outline: 1px solid rgba(31, 20, 18, 0.1);
    outline-offset: -1px;
    display: flex;
    flex-direction: column;
    transition: box-shadow ease 0.3s;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 30px rgba(31, 20, 18, 0.1);
        outline: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    &__header {
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      background: #ffffff;
      padding: 15px 20px 18px 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__title {
      flex: 1 1 auto;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 6px;
    }

    &__text {
      max-height: 93px;
      flex: 1 1 auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 15px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: clip;
      display: -webkit-box;
    }

    &__date {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.date {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}
.author {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
}

.news-thanks-cards {
  background: linear-gradient(
      0deg,
      rgba(194, 153, 90, 0.9),
      rgba(194, 153, 90, 0.9)
    ),
    url("../img/news/bgthingth.png") center / cover no-repeat;
  padding: 20px 20px 0px 20px;
  height: 1081px;
  overflow: hidden;
}
.news-thanks-card {
  display: flex;
  flex-direction: column;
  &:not(:first-child) {
    padding-top: 20px;
  }
  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }

  &__date-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 21px;
    & a {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      transition: all 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__date {
    padding-top: 22px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
}
.news-thanks-card-image {
  display: flex;
  gap: 12px;
  padding-bottom: 12px;

  &__image {
    height: 109px;
    & img {
      width: 109px;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
}
//========================================================================================================================================================
.lawyers-articles {
  padding-top: 120px;
}
.articles-lawyers {
  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    padding-bottom: 5px;
  }

  &__block {
    display: flex;
    padding-top: 25px;
  }
}
.articles-lawyers-block {
  &__image {
    flex: 1 1 50%;
    width: 620px;
    display: flex;
    background: linear-gradient(
        180deg,
        rgba(31, 20, 18, 0) 67%,
        #1f1412 106.08%
      ),
      url("../img/home/01.png") center / cover no-repeat;
    height: 600px;
    border-right: 2px solid #ffffff;
    position: relative;
    transition: all 0.3s;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(31, 20, 18, 0) 0%,
          #1f1412 106.08%
        ),
        url("../img/home/01.png") center / cover no-repeat;
    }
  }

  &__info {
    position: absolute;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    bottom: 30px;
    left: 30px;
  }

  &__info-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $mainWhiteColor;
  }

  &__info-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $mainWhiteColor;
    display: flex;
    gap: 20px;
  }
}

.articles-lawyers-block-left {
  &__top-image {
    width: 660px;
    height: 300px;
    display: flex;
    background: linear-gradient(
        180deg,
        rgba(31, 20, 18, 0) 50%,
        rgba(31, 20, 18, 0.8) 100%
      ),
      url("../img/home/02.png") center / cover no-repeat;
    border-bottom: 2px solid #ffffff;
    position: relative;
    transition: all 0.3s;
    &:hover {
      background: linear-gradient(
          180deg,
          rgba(31, 20, 18, 0) 0%,
          rgba(31, 20, 18, 0.8) 100%
        ),
        url("../img/home/02.png") center / cover no-repeat;
    }
  }

  &__info {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  &__info-title {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $mainWhiteColor;
    max-width: 345px;
  }

  &__bottom-blocks {
    display: flex;
  }

  &__bottom-left {
    display: flex;
    height: 300px;
    width: 330px;
    background: linear-gradient(
        180.06deg,
        rgba(31, 20, 18, 0) 61.15%,
        #1f1412 106.44%
      ),
      url("../img/home/03.png") center / cover no-repeat;
    border-right: 3px solid #ffffff;
    position: relative;
    transition: all 0.3s;
    &:hover {
      background: linear-gradient(
          180.06deg,
          rgba(31, 20, 18, 0) 0%,
          #1f1412 106.44%
        ),
        url("../img/home/03.png") center / cover no-repeat;
    }
  }
  &__bottom-right {
    display: flex;
    height: 300px;
    width: 330px;
    background: linear-gradient(
        179.53deg,
        rgba(31, 20, 18, 0) 62.25%,
        #1f1412 103.91%
      ),
      url("../img/home/04.png") center / cover no-repeat;
    position: relative;
    transition: all 0.3s;

    &:hover {
      background: linear-gradient(
          179.53deg,
          rgba(31, 20, 18, 0) 0%,
          #1f1412 103.91%
        ),
        url("../img/home/04.png") center / cover no-repeat;
    }
  }

  // .articles-lawyers-block-left__bottom-title

  &__bottom-title {
    display: flex;
    justify-content: start;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $mainWhiteColor;
    bottom: 25px;
    max-width: 300px;
    left: 15px;
  }
}
//========================================================================================================================================================
.activiti {
  padding-top: 120px;

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    padding-bottom: 5px;
  }

  &__slider {
    padding: 10px 5px;
    margin-left: -5px;
    margin-right: -5px;
  }
}

.activiti-block-slide {
  padding-top: 25px;
  position: relative;
}

.slide-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  outline: 1px solid rgba(31, 20, 18, 0.1);
  outline-offset: -1px;
  transition: box-shadow ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 20px rgba(31, 20, 18, 0.1);
      outline: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  // .slide-card__header

  &__header {
    padding-top: 15px;
    text-align: center;
    background: linear-gradient(90.23deg, #c2995a -21.48%, #f8d282 116.04%);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $mainWhiteColor;
    padding-bottom: 69px;
  }

  // .slide-card__image

  &__image {
    text-align: center;
    margin-top: -55px;

    & img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid $mainWhiteColor;
      object-fit: cover;
    }
  }

  & ul {
    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      &:not(:first-child) {
        height: 34px;
      }
      &:not(:last-child) {
        padding-bottom: 12px;
      }
      &:last-child {
        padding-bottom: 15px;
      }
      & span {
        font-weight: 600;
        max-width: 280px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }
    }
  }

  // .slide-card__info

  &__info {
    border-top: 1px solid rgba(31, 20, 18, 0.2);
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-left: 34px;
    margin-right: 34px;
    padding-top: 13px;
    padding-bottom: 19px;
    white-space: nowrap;
  }
}

//=================================
.links-page {
  padding-top: 120px;

  // .links-page__title

  &__title {
    max-width: 511px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
  }
}
.links-page-slider {
  padding-top: 50px;
  position: relative;
  // .links-page-slider__slider

  &__slider {
  }

  // .links-page-slider__wrapper

  &__wrapper {
  }

  // .links-page-slider__slide

  &__slide {
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.links-page-slider-image {
  min-width: 150px;
  max-width: 220px;
  height: 100px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
  }
  @media (any-hover: hover) {
    & img {
      transition: all ease 0.3s;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
.links-page-slider-prev,
.links-page-slider-next {
  position: absolute;
  top: 50%;
  width: 11px;
  height: 29px;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c2995a !important;
}

.links-page-slider-prev {
  margin-left: -45px;
}
.links-page-slider-next {
  margin-right: -45px;
}

.links-page-slider-next.swiper-button-disabled,
.links-page-slider-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.links-page-slider-next:after,
.links-page-slider-prev:after {
  font-family: swiper-icons;
  font-size: 35px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.links-page-slider-prev,
.swiper-rtl .links-page-slider-next {
  left: 10px;
  right: auto;
}
.links-page-slider-prev:after,
.swiper-rtl .links-page-slider-next:after {
  content: "\276C";
  width: 11px;
  height: 30px;
  background-repeat: no-repeat;
}
.links-page-slider-next,
.swiper-rtl .links-page-slider-prev {
  right: 10px;
  left: auto;
}
.links-page-slider-next:after,
.swiper-rtl .links-page-slider-prev:after {
  content: "\276D";
  width: 11px;
  height: 30px;
}
.swiper-button-lock {
  color: #d8d8d8;
}
