.breadcrubs {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 90%;

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(31, 20, 18, 0.5);
    margin-right: 15px;

    &::after {
      margin-right: 5px;
      margin-left: 5px;
      position: absolute;
      content: "\276D";
      font-size: 16px;
      color: rgba(31, 20, 18, 0.5);
    }
  }
  .active-breadcrubs {
    color: $mainColor;
  }
}

//========================================================================================================================================================

.page-news {
  // .page-news__title

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    padding-bottom: 5px;
  }

  // .page-news__navs

  &__navs {
    display: flex;
    justify-content: flex-end;
  }

  // .page-news__navs-block

  &__navs-block {
    display: flex;
  }
  &__navs-block-link {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(31, 20, 18, 0.5);
    border: 1px solid rgba(31, 20, 18, 0.5);
    &:first-child {
      border-right: none;
    }
    &:last-child {
      border-left: none;
    }
  }
}
.active-select-link {
  border: none;
  background: $colorMainLink;
  color: $mainWhiteColor;
}

//========================================================================================================================================================
.card-section {
  // .card-section__container

  &__container {
  }
}
.card-section-blocks {
  padding-top: 15px;
}
.card-section-block {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

//========================================================================================================================================================
.pagination {
  display: inline-block;
  text-align: center;
}

.pagination a {
  color: #d8d8d8;
  float: left;
  padding: 8px 16px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  border: 1px solid #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: all ease 0.3s;
  &:not(:last-child) {
    border-right: none;
  }
}

.pagination a.active-pagination {
  font-weight: 700;
  color: #c2995a;
}
.pagination a:hover:not(.active-pagination) {
  background-color: #c2995a;
  border: 1px solid #c2995a;
  color: #fff;
}
.card-section-blocks-pagination {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}
.pagination-fraction {
  position: absolute;
  right: 0;
  display: flex;
  align-items: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #d8d8d8;
}
.pagination-fraction-active {
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  color: #c2995a;
}
.pagination-fraction-separator {
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
}
